name: Gmarket Roulette Auto

on:
  schedule:
    - cron: '5 22 * * *' # 한국 시간 오전 7시 5분
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install playwright requests
          playwright install chromium --with-deps # 브라우저 및 의존성 설치

      - name: Run Script
        env:
          GMARKET_ID: ${{ secrets.GMARKET_ID }}
          GMARKET_PW: ${{ secrets.GMARKET_PW }}
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python run_roulette.py
